let credentials = {
    'mongo_url': 'mongodb://127.0.0.1/',
    'database_name': 'sharey-app',
    'jwtSecret': '26_CHARACTER_SECRET_GOES_HERE',
    'tokenIssuer': 'SHAREY-APP'
};

export default credentials;